section(layout="row" flex)
  md-sidevan.md-sidenav-left(md-component-id="left" md-is-locked-open="true" md-whiteframe="4")
    md-toolbar.md-theme-indigo
      h1.md-toolbar-tools Welcome
    md-content(layout-margin) Link here
  md-content(flex layout-padding)
    div(ng-transclude)
