.check-ins {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  .counts {
    display: flex;
    justify-content: center;
    font-size: 6em;
  }

  .counters {
    display: flex;
    justify-content: center;
  }

  .inc, .dec {
    margin: 1em;
  }

  .inc {
    background-color: green;
    color: white;
    font-size: 5em;
    width: 6em;
    height: 3em;
  }

  .dec {
    background-color: red;
    color: white;
    font-size: 5em;
    width: 6em;
    height: 3em;
  }
}
